In [1]:
# importing libraries

import pandas as pd

In [5]:
data = pd.read_csv("..//cars_clean_data//cars_clean_data.csv")

In [6]:
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [7]:
# the data looks clean

#### C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [8]:
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'])

In [13]:
print(data.head())

                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

  Owner_Type  Mileage  Engine   Power  Seats  Price  Fuel_Type_Diesel  \
0      First    19.67  1582.0  126.20    5.0  12.50                 1
1      First    18.19  1199.0   88.70    5.0   4.50                 0
2      First    20.77  1248.0   88.76    7.0   6.00                 1
3     Second    15.20  1968.0  140.80    5.0  17.74                 1
4      First    23.08  1461.0   63.10    5.0   3.50                 1

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
0                   0                 0                       0
1                   0                 1                       0
2                   0                 0                       0
3                   0                 0                       1
4                   0                 0                       0

   Transmission_Manual
0                    1
1                    1
2                    1
3                    0
4                    1

In [12]:
# Saving data set
data.to_csv('..//results//encoded_car_data.csv',index=False)