### Loading the Dataset

In [1]:
# importing libraries
import pandas as pd

In [2]:
# reading data
data = pd.read_csv("..//raw_data//raw_frailty_data.csv")

In [3]:
# Displaying top 5 rows of data frame
data.head()

   Height  Weight  Age  Grip strength Frailty
0    65.8     112   30             30       N
1    71.5     136   19             31       N
2    69.4     153   45             29       N
3    68.2     142   22             28       Y
4    67.8     144   29             24       Y

In [5]:
# Checking for null values
data.isnull().sum()

Height           0
Weight           0
Age              0
Grip strength    0
Frailty          0
dtype: int64

In [7]:
# Checking for duplicated values
data.duplicated().sum()

0

In [8]:
data.columns

Index(['Height', 'Weight', 'Age', 'Grip strength', 'Frailty'], dtype='object')

### Save the cleaned dataset

In [10]:
data.to_csv('..//clean_data//cleaned_frailty_data.csv', index=False)