In [1]:
# importing libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
# Loading data
student_data = pd.read_csv("..//raw_data//stu_perf_raw.csv")

In [14]:
# Displaying top 5 rows of data
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [15]:
print("Shape of dataA:", student_data.shape)

Shape of dataA: (1000, 8)

In [16]:
print("Data Columns: ",student_data.columns)

Data Columns:  Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [27]:
# Reanmaing column names
student_data.columns = ['Gender', 'Race_Ethnicity', 'Parental Education', 'Lunch', 'Test Preparation Course', 'Math Score', 'Reading Score', 'Writing Score']
student_data.head()

,Gender,Race_Ethnicity,Parental Education,Lunch,Test Preparation Course,Math Score,Reading Score,Writing Score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [28]:
# data types
student_data.dtypes

Gender                     object
Race_Ethnicity             object
Parental Education         object
Lunch                      object
Test Preparation Course    object
Math Score                  int64
Reading Score               int64
Writing Score               int64
dtype: object

In [21]:
# checking for null values
student_data.isnull().sum()

Gender                     0
Race/Ethnicity             0
Parental Education         0
Lunch                      0
Test Preparation Course    0
Math Score                 0
Reading Score              0
Writing Score              0
dtype: int64

In [25]:
# Summary of data frame
print(student_data.describe())

       Math Score  Reading Score  Writing Score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [30]:
# Saving the cleaned data
student_data.to_csv("../clean_data/stu_perfo_clean.csv", index=False)